<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Api</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/apis.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/prism.css')}}">
</head>
<body>
    <section class="intro">
        <div>
            <h1>Chat Api</h1>
            <p>Bienvenid@ a la api de transferencia de mensajes, chatea, transfiere y diviertete enviando mensajes con <i>"Chapi"</i></p>
        </div>
    </section>
</body>
<script src="{{url_for('static',filename='js/prism.js')}}"></script>
</html>